<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.burda.hw34.MainServlet</servlet-class>
        <init-param>
            <param-name>user1</param-name>
            <param-value>192.168.1.1</param-value>
        </init-param>
        <init-param>
            <param-name>user2</param-name>
            <param-value>192.168.1.2</param-value>
        </init-param>
        <init-param>
            <param-name>user3</param-name>
            <param-value>192.168.1.3</param-value>
        </init-param>
        <init-param>
            <param-name>user4</param-name>
            <param-value>192.168.1.4</param-value>
        </init-param>
        <init-param>
            <param-name>user5</param-name>
            <param-value>192.168.1.5</param-value>
        </init-param>
        <init-param>
            <param-name>user6</param-name>
            <param-value>192.168.1.6</param-value>
        </init-param>
        <init-param>
            <param-name>user7</param-name>
            <param-value>192.168.1.7</param-value>
        </init-param>
        <init-param>
            <param-name>user8</param-name>
            <param-value>192.168.1.8</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>